* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    position: relative;
    font-family: 'Poppins', sans-serif !important;
    /* Check this width overflow later */
    overflow-x: hidden;
}

body {
    overflow-y: auto;
    min-height: 100vh;
}

textarea:focus,
input:focus {
    outline: none;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

footer {
    background: #f1f1f1;
    width: 100%;
    padding: 16px 0px;
    color: #999;
    position: absolute;
    bottom: 0;
}

.banner {
    height: 500px;
    width: 100%;
    background: #999;
    margin: 20px 0px;
}

.content {
    padding: 120px 0px;
}

.tile {
    position: relative;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.tile img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
}

.tile img:hover {
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    transform: scale(1.1);
}

.tile-text {
    position: absolute;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://images.pexels.com/photos/2422461/pexels-photo-2422461.jpeg?cs=srgb&dl=pexels-josh-hild-2422461.jpg&fm=jpg");
    /* Set a specific height */
    height: 50vh;
    width: 100vw;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-subheading {
    font-size: 24px;
    font-weight: 100;
}

.hero-input {
    width: 80%;
    height: 50px;
    padding: 16px;
    border-radius: 8px;
    border: none;
}

.nav-link {
    margin-right: 36px;
}

/* activity page css */

.activity-card {
    color: #000;
    position: relative;
    height: 350px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.activity-card img {
    width: 100%;
    height: 100%;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
}

.activity-card img:hover {
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
}

/* activity-detail page css */

.adventure-detail-card {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 16px;
}

.activity-card-image {
    height: 500px;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    border-radius: 2px;
}

.activity-card-image:hover {
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
}

.experience-content ul li {
    margin-left: 16px;
    padding: 0;
}

.filter-bar {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 20px 0px;
}

.filter-bar-tile {
    border-right: 1px solid #999;
    padding: 0px 20px;
}

.category-filter {
    border: 1px solid orange;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px 10px 10px 0px;
}

.category-banner {
    position: absolute;
    padding: 5px 10px;
    box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.3);
    /*
  box-shadow: 0px 9.4px 20.4px rgba(0, 0, 0, 0.13),
    0px 9.2px 20.6px rgba(0, 0, 0, 0.1); */
    min-width: 50%;
    color: #fff;
    background: rgb(255, 145, 0);
    top: 0;
    right: 0;
    z-index: 1;
    margin-top: 16px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    font-weight: bolder;
}

.reserve-button {
    width: 100%;
    border: none;
    background-color: rgb(255, 145, 0);
    color: #fff;
    font-weight: bolder;
    padding: 15px;
    margin: 20px 0px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.reserve-button:hover {
    background-color: rgb(226, 129, 1);
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

#reserved-banner {
    display: none;
}

.reservation-visit-button {
    background-color: rgb(255, 145, 0);
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    white-space: nowrap;
    border-radius: 20px;
    cursor: pointer;
}

.reservation-visit-button:hover {
    background-color: rgb(226, 129, 1);
}

#carouselExampleIndicators {
    width: 100%;
}

#reservation-panel-sold-out {
    border: solid 1px #eee;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 30px;
}

#reservation-panel-available {
    border: solid 1px #eee;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 30px;
}

/* My Custom styles */

.pos-rel {
    position: relative;
}

.close {
    cursor: pointer;
}

.tripper-img {
    max-width: 8%;
}

.no-search {
    color: black;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.top-100px {
    top: 140px;
}

.alert {
    display: none;
}

.myAlert-top {
    top: 5px;
    width: 50%;
    margin-top: 6rem;
}

.toast {
    opacity: 1 !important;
}

.toast-success {
    color: #0f5132 !important;
    background-color: #d1e7dd !important;
    border-color: #badbcc !important;
}

.toast-warning {
    color: #664d03 !important;
    background-color: #fff3cd !important;
    border-color: #ffecb5 !important;
}

.alert-success {
    opacity: 1 !important;
}

.alert-warning {
    opacity: 1 !important;
}

.delete-reservation {
    color: rgb(224, 14, 14);
    cursor: pointer;
    font-size: 22px;
}

@keyframes ldio-8oj2uzoa4yu {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.ldio-8oj2uzoa4yu>div>div {
    position: absolute;
    border-radius: 50%;
}

.ldio-8oj2uzoa4yu>div>div:nth-child(1) {
    top: 30px;
    left: 30px;
    width: 140px;
    height: 140px;
    background: #28d1b0;
}

.ldio-8oj2uzoa4yu>div>div:nth-child(2) {
    top: 39.800000000000004px;
    left: 79px;
    width: 42px;
    height: 42px;
    background: #2163d8;
    animation: ldio-8oj2uzoa4yu 1s linear infinite;
    transform-origin: 21px 60.199999999999996px;
}

.loadingio-spinner-disk-96xmnojipuu {
    width: 200px;
    height: 200px;
    margin: auto;
    overflow: hidden;
    background: #ffffff;
}

.ldio-8oj2uzoa4yu {
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-8oj2uzoa4yu div {
    box-sizing: content-box;
}